
  <form [formGroup]="tableForm" (submit)="onSubmit()">
    <div class="container">
    @for (table of tables; track table.id) {

    <div class="space">
      <div class="table">
        <input type="checkbox" formControlName="table" (change)="changeStatus($event, table.id)">
        {{ table.id }}
      </div>
      <label>{{table.name}}</label>
      @for (seat of table.seats; track $index) {
      <div
        class="seat"
        [style.top]="seat.positionY + '%'"
        [style.right]="seat.positionX + '%'"
      ></div>
      }
    </div>
    }
    
  </div>
  <button type="submit">Submit</button>
  </form>
